<!DOCTYPE html>
<html lang="pt-br">

<%- include('./../partials/head.ejs') %>
<%- include('./../partials/menu2.ejs') %>

<body class="body">
<div>
    <div class="container w3-card-2">
        <div class="card-header">Novo Autor</div>
        <div class="card-body">
            <form method="POST" action="/autores/">
                <div class="form-floating mb-3">
                    <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome do Autor" required></input>
                    <label for="nome">Nome do Autor</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" name="nascimento" class="form-control" id="nascimento" placeholder="Data de Nascimento" required></input>
                    <label for="nascimento">Data de Nascimento</label>
                </div>
 
                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/autores" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %></br>
    
</body>
</html>