<!DOCTYPE html>
<html lang="pt-br">

<!-- Inicio Footer -->
  <footer style="background-color: #660066">
    <div class="w3-container w3-padding-16 w3-center">
      <div class="row">
        <div class="col-md-12 ">
          <p>
            <a class="w3-hover-opacity w3-center w3-text-white">  &copy; Created by Carla Oliveira, Chien Yi Shin & Leonardo Bargeri (With initial project by Professor Marcos Nava)</a>
          </p>
        </div>
        <div class="col-md-7 d-flex justify-content-end ">
          <a href="" class="btn btn-outline-light ml-2">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="" class="btn btn-outline-light ml-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="btn btn-outline-light ml-2">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="btn btn-outline-light ml-2">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
<!-- Fim Footer -->

</html>