<!DOCTYPE html>
<html lang="pt-br">

<body >
<!-- Inicio do Cabeçalho -->
  <header>
    <nav class="container navbar navbar-expand-sm navbar-light" 
        style="background-color: #660066">
      <div class="container">
        <div style="position: top ;">
          <a href="" class="css/estilo.css">
            <img src="img/logo.png" style="margin-top: -40px; margin-left: -100px; margin-bottom:-40px" width="48%"></img> <!-- Logo -->
          </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav ml-auto" style="padding: 10px">
            <li class="nav-item">
              <a href="../historias" class="btn btn-outline-light ml-4">Voltar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<!--/Fim do Cabeçalho -->
</body>
</html>