<!DOCTYPE html>
<html lang="pt-br">
  <body >
  <!-- Inicio Cabeçalho -->
    <header>
      <nav class="navbar navbar-expand-sm navbar-light" 
          style="background-color: #660066">
        <div class="container">
          <div style="position: top ;">
            <a href="" class="../css/estilo.css">
              <img src="../img/logo.png" style="margin-top: -60px; margin-left: -80px; margin-bottom:-60px" width="46%"></img> <!-- Logo -->
            </a>
          </div>

          <div class="collapse navbar-collapse" id="nav-principal">
            <ul class="navbar-nav ml-auto" style="padding: 10px">
              <li class="nav-item">
                <a href="home" class="btn btn-outline-light ml-4">Home</a>
              </li>
              <li class="nav-item">
                <a href="story" class="btn btn-outline-light ml-4">História</a>
              </li>
              <li class="nav-item">
                <a href="gender" class="btn btn-outline-light ml-4">Genero</a>
              </li>
              <li class="nav-item">
                <a href="login" class="btn btn-outline-light ml-4">Entrar</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!--/fim Cabeçalho -->

    </header>
  </body>
</html>