<!DOCTYPE html>
<html>

<%- include('partials/head.ejs') %>
<%- include('partials/menu.ejs') %>
  

<body class="body w3-content" style="max-width:1400px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <h3 class="w3-wide"><b>Fantasy Whisper</b></h3>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="#" class="w3-bar-item w3-button">Ficção Científica</a>
    <a href="#" class="w3-bar-item w3-button">Fantasia</a>
    <a href="#" class="w3-bar-item w3-button">Romance</a>
    <a href="#" class="w3-bar-item w3-button">Mistério</a>
    <a href="#" class="w3-bar-item w3-button">Aventura</a>
    <a href="#" class="w3-bar-item w3-button">Suspense</a>
    <a href="#" class="w3-bar-item w3-button">Terror</a>
    <a href="#" class="w3-bar-item w3-button">Drama</a>
    <a href="#" class="w3-bar-item w3-button">Comédia</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">Fantasy Whisper</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <h1 class="w3-left w3-cursive w3-text-white">Generos</h1>
    <p class="w3-right">
      <i class="fa fa-search"></i>
    </p>
  </header>

  <!-- Image header -->
  <div class=" w3-container">
    <img src="img\95cdd9d8-6079-48e0-a0cf-180bfa59999e.jpeg" alt="" style="width:100%"></img>
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
    </div>
  </div>

  <div class="w3-container w3-text-grey">
    <p class="w3-text-white">7 Fates - Chakho (with BTS)</p>
  </div>

<!-- Historias por genero -->
<div class="w3-container">
  <div>
  <h1 class="w3-center w3-cursive w3-text-white">Fantasia</h1>
  </div>

  <!-- Photo Grid 01 -->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="img\One Piece.jpeg" alt="Sandwich" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">One Piece </h3>
      <p class="w3-text-white">As emocionantes e engraçadas aventuras de Monkey D. Luffy, um pirata que pode esticar seu corpo como se fosse uma borracha.</p>
    </div>

    <div class="w3-quarter">
      <img src="img\鋼の錬金術師, zoha_pong.jpeg" alt="Steak" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">Fullmetal Alchemist</h3>
      <p class="w3-text-white">“Nada pode ser obtido sem sacrifício. Para se obter algo é preciso oferecer algo em troca de igual valor. Esse é o princípio básico da alquimia, a Lei da Troca Equivalente”.</p>
    </div>

    <div class="w3-quarter">
      <img src="img\The_Top_Dungeon_Farmer.webp" alt="Cherries" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">The Top Dungeon Farmer</h3>
      <p class="w3-text-white">Um dia, uma torre misteriosa apareceu na cidade. As pessoas a chamam de masmorra e, embora fosse cheio de terreno acidentado e monstros perigosos, também era uma terra de oportunidades, onde inúmeros tesouros aguardavam.</p>
    </div>

    <div class="w3-quarter">
      <img src="img\Vanitas official art.jpeg" alt="Pasta and Wine" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">Vanitas no Carte</h3>
      <p class="w3-text-white">Já ouviram falar? <br>De um grimório mecânico que dizem disserminar uma maldição nos vampiros? <br>Guiadas pelo "Livro de Vanitas", as engrenagens desta história começam a se mover agora.</p>
    </div>
  </div>

  <div>
  <h1 class="w3-center w3-cursive w3-text-white">Romance</h1>
  </div>

  <!-- Photo Grid 02 -->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="img\hanako-kun.jpeg" alt="Sandwich" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">Jibaku Shounen Hanako-kun</h3>
      <p class="w3-text-white">Já ouviram falar dela?<br>Tem um rumor na escola... <br>Entre na 3ª cabine, de trás para frente... no banheiro feminino do 3° andar do antigo prédio. Depois tranque a porta e bata 3 vezes. Hanako é a guardã da escola. Se você encontrá-la, ela irá realizar um pedido seu...</p>
    </div>
    <div class="w3-quarter">
      <img src="img\Violet evergarden.jpeg" alt="Steak" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">Violet Evergarden</h3>
      <p class="w3-text-white">A guerra acabou, e Violet Evergarden precisa de um emprego. Com cicatrizes e insensível, ela aceita trabalhar como escritora de cartas para entender a si mesma e seu passado.</p>
    </div>
    <div class="w3-quarter">
      <img src="img\Shigatsu wa Kimi no Uso.jpeg" alt="Cherries" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">Shigatsu wa Kimi no Uso</h3>
      <p class="w3-text-white">Kousei Arima é um pianista prodígio que se torna incapaz de tocar após o trauma de perder sua amada mãe e professora. Com isso arrancado dele, a vida de Kousei Arima se torna monótona e sem brilho. Até que um dia ele conhece Kaori, uma violinista animada e cheia de personalidade, em um encontro que mudará sua vida.</p>
    </div>
    <div class="w3-quarter">
      <img src="img\noragami.jpeg" alt="Pasta and Wine" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">Noragami</h3>
      <p class="w3-text-white">Yato é um deus sem-teto. Ele nem tem um santuário, sem falar nos adoradores! Então, para atingir seus objetivos, ele criou um serviço para ajudar os necessitados, esperando conseguir dinheiro suficiente para construir o templo dos seus sonhos. Claro, ele não pode se dar ao luxo de ser exigente, então Yato aceita todos os tipos de trabalhos, desde encontrar gatos perdidos até ajudar um aluno a superar os valentões na escola.</p>
    </div>
  </div>

  <div>
  <h1 class="w3-center w3-cursive w3-text-white">Suspense</h1>
  </div>

  <!-- Photo Grid 03-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="img\The Promised Neverland.jpeg" alt="Sandwich" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">The Promised Neverland</h3>
      <p class="w3-text-white">Ela é amada como uma mãe, mas não é uma mãe de verdade. E as crianças que vivem juntas também não são irmãos de verdade. Emma, Norman e Ray vivem felizes em um remoto orfanato, porém, esses alegres dias estão prestes a acabar…</p>
    </div>
    <div class="w3-quarter">
      <img src="img\black butler.jpg" alt="Steak" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">Kuroshitsuji</h3>
      <p class="w3-text-white">Ciel Phantomhive, um jovem de 12 anos pertencente a uma das mais nobres famílias da Inglaterra. Sebastian, um mordomo capaz de realizar qualquer tarefa que seu mestre ordene. Depois de perder tudo, Ciel faz um contrato com Sebastian, e trabalham juntos para desvendar quem está por trás do assassinato dos pais de Ciel.
        <br>- Sebastian, isso é uma ordem!
        <br>- Yes, my Lord!
      </p>
    </div>
    <div class="w3-quarter">
      <img src="img\Another.jpeg" alt="Cherries" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">Another</h3>
      <p class="w3-text-white">Sakakibara é um jovem que foi transferido para o colégio Yomiyama Norte. Chegando lá, ele descobre que sua turma não é nada normal, pois os alunos, movidos pelo medo, acreditam estar presos em uma maldição que começou há 23 anos, quando um menino morreu. </p>
    </div>
    <div class="w3-quarter">
      <img src="img\bastard.png" alt="Pasta and Wine" style="width:100%" class="w3-hover-opacity">
      <h3 class="w3-text-white">Bastard</h3>
      <p class="w3-text-white">Jin Seon não é um estudante normal. Ele é criado por seu pai solteiro Dongsoo Seon, o CEO de uma companhia influente, mas há um segredo medonho: Dongsoo é um serial-killer e ele é forçado a ser seu cúmplice para se manter vivo. Quando Kyun Yoon salva sua vida de um dos valentões da escola, vira alvo de seu pai, iniciando assim um jogo entre pai e filho no qual Jin tenta manter Kyun em segurança.</p>
    </div>
  </div>

</body>
<%- include('partials/footer.ejs') %>
</html>
