<!DOCTYPE html >
<html lang="pt-br">

  <%- include('partials/head.ejs') %>
  <%- include('partials/menu.ejs') %>

<body class="body" >
  <!-- Início Parte 1 -->
  <section >
    <div class="container" style="max-width:1200px">
      <div >
        <div class="row">
          <div class="col-md-6 d-flex"> <!-- Textos da seção -->
            <div>
              <h1 class="display-5 w3-cursive w3-text-white">Liberte sua imaginação e compartilhe suas Estórias</h1>
              <br></br>
                <p class="w3-cursive w3-xlarge w3-text-white">
                  Crie, edite e publique episódios semanais envolventes de seu próprio mundo imaginário!
                </p>
                  <form class="mt-4 mb-4">
                  <div class="input-group input-group-lg">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-primary w3-round-xlarge">
                        <a class="w3-cursive" href="usuarios/novo">Cadastre-se</a>
                      </button>
                    </div>
                  </div>
                  </form>
                <p class="w3-cursive w3-xlarge w3-text-white">Disponível para
                <a href="" class="btn btn-outline-light">
                  <i class="fab fa-android fa-lg"></i>
                </a>

                <a href="" class="btn btn-outline-light">
                  <i class="fab fa-apple"></i>
                </a>
                </p>
            </div>
          </div><!--/fim textos da seção -->
            <div class="col-md-5 d-none d-md-block">
              <img src="img/360_F_565646738_16aPBSad95Y3R75cHQtiwlJQ036oSUKW.jpg" class="w3-round-xlarge"></img>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fim Parte 1 -->

  <!-- Início Parte 2-->
  <section class="caixa cor-fundo">
    <div class="container" style="max-width:1200px">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="align-self-center">
            <h2 class="w3-cursive ">Crie episódios envolventes e conecte-se com outros entusiastas!</h2>
              <p class="w3-cursive w3-xlarge">
                Bem-vindo(a) à nossa plataforma onde a sua imaginação não tem limites.
                <p class="w3-cursive w3-xlarge">
                Faça parte de uma comunidade vibrante de contadores de histórias,
                onde você pode criar episódios cativantes de seus próprios contos de ficção.
                </p>
                <p >
                *Priorizamos a manutenção de um ambiente seguro e de respeito ao próximo, lembrando aos usuários a importância de postar conteúdo apropriado.
                </p>
              </p>
                <a href="" class="btn btn-primary w3-cursive" >Veja mais</a>
          </div>
        </div>
          <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <img src="img/EVQl6o5XQAQ618U.jpg" class="img-home2"></img>
            </div>
          </div>
      </div>
    </div>
  </section>
<!-- FIM Parte 2 -->

<!-- Início Parte 3 -->
  <section>
    <div class="container" style="max-width:1200px">
      <div >
        <div class="row">
          <div class="col-md-6">
            <img class="w3-round-xlarge" src="img/e017a21daab3211fb94b2496f4d8ae08.jpg" class="img-fluid"></img>
          </div>

          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h2 class="w3-cursive w3-xxlarge w3-text-white">
                "A chuva batia no telhado como lágrimas do céu, lamentando a perda que ela sentia em seu coração."
              </h2>
              <a href="" class="btn btn-primary w3-cursive">Veja mais</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
<!-- FIM Parte 3 -->

<!-- Início Parte 4 -->
<section class="caixa cor-fundo">
    <div class="container" style="max-width:1200px">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="align-self-center">
          <h2 class="w3-cursive w3-xlarge">
              "Na cidade corrupta de Sin-si, Zeha acorda de repente em um hospital, 
              incapaz de se lembrar de tudo o que aconteceu depois de falar com um homem misterioso uma noite. 
              Ele logo descobre que seres estranhos chamados Beom estão causando estragos na cidade. 
              Enquanto o destino une sete garotos, eles conseguirão acabar com essa luta de uma vez por todas? 
              Deixe a caça começar!."</h2><br></br>
            <a href="" class="btn btn-primary w3-cursive">Veja mais</a>
          </div>
        </div>
          <div class="col-md-6">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <img src="img/9M_details.jpg" class="img-fluid"></img>
            </div>
          </div>
      </div>
    </div>
  </section>
<!-- FIM Parte 4 -->

<!-- Início Parte 5 -->
  <section>
    <div class="container" style="max-width:1200px">
      <div class="row">
        <div class="col-md-6">
          <img src="img/80f05a23ab33c863ae440e95bab5a2e8.jpg" class="img-fluid w3-round-xlarge"></img>
        </div>

        <div class="col-md-6 d-flex">
          <div class="align-self-center">
            <h2 class="w3-cursive w3-xlarge w3-text-white">
              "As nuvens pintavam um quadro em constante mudança enquanto o sol se punha lentamente no horizonte. 
              Sarah levantou o rosto para sentir o calor suave dos raios solares em sua pele. 
              Ela fechou os olhos por um momento e respirou fundo, 
              sentindo o cheiro da grama fresca e ouvindo o vento sussurrar segredos em seu ouvido."</h2><br></br>
            <a href="" class="btn btn-primary w3-cursive">Veja mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- FIM Parte 5 -->

  <%- include('partials/footer.ejs') %>

  </body>
</html>