<!DOCTYPE html >
<html lang="pt-br">

    <%- include('partials/head.ejs') %>
    <%- include('partials/menu.ejs') %>

<body class="body ">

<!-- Início seção login -->
  <section >
    <div id="main-container-login">
      <h1 class="w3-cursive w3-center w3-text-purple">Login</h1>
        <form method="GET" action="/historias">
          <div class="container">
            <div>
            <label class="w3-cursive" for="email">E-mail</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Digite o seu e-mail"
                required>
              </input>
            </div>
          </div>
          <br></br>
          <div class="container">
            <div class="full-box w3-cursive">
            <label class="w3-cursive" for="senha">Senha</label>
              <input
                type="password"
                name="senha"
                class="form-control"
                id="senha"
                placeholder="Digite a sua senha">
              </input>
            </div>
          </div>
          <% if(msg != '') {%>
                    <div class="alert alert-danger">
                        <%= msg %>
                    </div>
                <% } %>
          <div class="full-box">
            <div class="d-grid gap-2 col-10 mx-auto">
              <button type="submit" class="btn btn-primary ">Entrar</button> 
            </div>
          </div>  
        </form>
    </div>
  </section>
<!-- Fim seção login -->

<%- include('partials/footer.ejs') %>

</body>
</html>