<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs') %>
<%- include('partials/menu.ejs') %>


<body class="body w3-content" style="max-width:1600px">

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b class="w3-cursive w3-text-white">Fantasy Whisper</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
    </div>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\who made me a princess1.jpeg" alt="Norway" style="width:384px; height:300px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Who Made Me a Princess</b></p>
        <p>Quando abri os olhos, me tornei uma princesa! Reencanei na protagonista de uma novel. Mas de todos os personagens deste romance, por que a princesa tem o destino de morrer pelas mãos do seu próprio pai biológico, o imperador!? Se eu quero sobreviver, não devo ser vista por ele. Um homem que não tem nem uma gota de sangue nem lágrimas para cair, aquele frio imperador Claude é quem atormenta Atanasia, a protagonista dessa história. Será que ela conseguirá sobreviver?
        </p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\Trash of the Count’s Family.jpeg" alt="Norway" style="width:384px; height:300px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Trash of the Count’s Family</b></p>
        <p>Kim Rok-Soo leu os primeiros 5 volumes da Novel “O Nascimento de um Herói” e logo adormeceu. Ao acordar, ele percebe que está no corpo de um personagem da Novel, o jovem Cale Henituse, que era considerado o lixo da família do Conde Henituse. <br>
        Na história Cale é espancado no primeiro volume espancado pelo protagonista, então Kim Rok-Soo começa a tomar medidas para viver de forma tranquila e sem preocupações. Mas nem tudo acontece como ele planeja.
        </p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="img\FJFfb9JVcAUGUrl.jpg" alt="Norway" style="width:384px; height:300px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>7 Fates: Chakho</b></p>
        <p>Na cidade corrupta Sin-si, Zeha subitamente acorda em um hospital, incapaz de se lembrar do que aconteceu depois de falar com um homem misterioso à noite. Ele logo aprende que seres estranhos chamado beom estão causando pânico e destruição na cidade. O destino uniu esses sete garotos, mas serão eles capazes de acabar, de uma vez por todas, com essa luta? Que a caçada comece!
        </p>
      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\Sewayaki Kitsune no Senko-san.jpg" alt="Norway" style="width:384px; height:300px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Sewayaki Kitsune no Senko-san</b></p>
        <p>A vida cotidiana de Nakano, um trabalhador assalariado que trabalha para uma empresa exploradora, é subitamente invadida pela Kitsune, Senko-san (800 Anos – Jovem Esposa Loli). Quer seja cozinhar, limpar ou um serviço especial… ela vai curar sua exaustão com seu carinho.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\66,666 Years Advent of the Dark Mage.webp" alt="Norway" style="width:384px; height:300px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>66,666 Years: Advent of the Dark Mage</b></p>
        <p>
          Diablo Volpir, um poderoso mago das trevas, foi derrotado e selado em uma batalha contra os 12 deuses. Ele finalmente acorda de seu sono 66.666 anos depois, porém, no corpo de um bebê recém-nascido, Jamie Welton! Nove anos depois, com uma fração do poder que já deteve e com a família amorosa e o ambiente pacífico que agora o cerca, Jamie planeja se vingar dos 12 deuses que o selaram.
          </p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="img\Shingeki no Kyojin1.png" alt="Norway" style="width:384px; height:300px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Shingeki no Kyojin</b></p>
        <p>Há muito tempo atrás, os humanos foram quase exterminados pelos Titãs. Seres humanoides gigantes que devoram as pessoas sem nenhum motivo aparente. Os poucos sobreviventes fugiram, levantaram muralhas de 50 metros para se protegerem desses seres e tentarem viver em paz... Porém, 100 anos depois, a humanidade começa a pagar por seus anos de paz: um titã colossal aparece, destruindo a muralha e dando início a um cenário de carnificina e destruição.</p>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <div class="w3-row-padding w3-padding-16" id="about">
    <h1 class="w3-cursive w3-text-white">Últimos lançamentos</h1><br></br>
    <div class="w3-col m3">
      <img src="img/EVQl6o5XQAQ618U.jpg" alt="Me" style="width:350px; height:250px" class="w3-hover-opacity"></img>
      <h4><b>História 01</b></h4>
      <p>Just me, myself and I, exploring the universe of unknownment. 
        I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. 
        I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. 
        Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. 
        Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, 
        ultricies congue gravida diam non fringilla.
      </p>
      <hr></hr>
    </div>

    <div class="w3-col m3">
      <img src="img/imagem3.jpg" alt="Me" style="width:350px; height:250px" class="w3-hover-opacity"></img>
      <h4><b>História 02</b></h4>
      <p>Just me, myself and I, exploring the universe of unknownment. 
         I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. 
         I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. 
         Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. 
         Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, 
         ultricies congue gravida diam non fringilla.
      </p>
      <hr></hr>
    </div>

    <div class="w3-col m3">
      <img src="img/Webtoons.jpg" alt="Me" style="width:350px; height:250px" class="w3-hover-opacity"></img>
      <h4><b>História 03</b></h4>
      <p>Just me, myself and I, exploring the universe of unknownment. 
        I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. 
        I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. 
        Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. 
        Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, 
        ultricies congue gravida diam non fringilla.
      </p>
      <hr></hr>
    </div>

    <div class="w3-col m3">
      <img src="img/imagem4.jpg" alt="Me" style="width:350px; height:250px" class="w3-hover-opacity"></img>
      <h4><b>História 04</b></h4>
      <p>Just me, myself and I, exploring the universe of unknownment. 
        I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. 
        I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. 
        Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. 
        Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, 
        ultricies congue gravida diam non fringilla.
      </p>
      <hr></hr>
    </div>

    </div>
  </div>

    
    <h4 class="w3-cursive ">Principais Generos</h4>
    <!-- Progress bars / Skills -->
    <p>Romance</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:95%">95%</div>
    </div>
    <p>Suspence</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:65%">65%</div>
    </div>
    <p>Terror</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:40%">40%</div>
    </div>
    <p>
      <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
        <i class="fa fa-download w3-margin-right"></i>Baixe um resumo
      </button>
    </p>
    <hr>
  
</body>
<%- include('partials/footer.ejs') %>
</html>