<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs') %>
<%- include('partials/menu.ejs') %>

<body class="body w3-content" style="max-width:1400px">

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b class="w3-cursive w3-text-white" style="text-shadow:3px 3px 3px #444">Fantasy Whisper</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
    </div>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\who made me a princess1_resized.jpeg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-large">
      <div class="w3-container w3-light-gray w3-round-large">
        <h3><b>Who Made Me a Princess</b></h3>
        <h4>
          Quando abri os olhos, me tornei uma princesa! Reencanei na protagonista de uma novel. 
          Mas de todos os personagens deste romance, por que a princesa tem o destino de morrer 
          pelas mãos do seu próprio pai biológico, o imperador!? Se eu quero sobreviver, não devo ser vista por ele. 
          Um homem que não tem nem uma gota de sangue nem lágrimas para cair, 
          aquele frio imperador Claude é quem atormenta Atanasia, 
          a protagonista dessa história. Será que ela conseguirá sobreviver?
        </h4>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\Trash of the Count’s Family_resized.jpeg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-large">
      <div class="w3-container w3-light-gray w3-round-large">
        <h3><b>Trash of the Count’s Family</b></h3>
        <h4>
          Kim Rok-Soo leu os primeiros 5 volumes da Novel “O Nascimento de um Herói” e logo adormeceu. 
          Ao acordar, ele percebe que está no corpo de um personagem da Novel, o jovem Cale Henituse, 
          que era considerado o lixo da família do Conde Henituse. <br>
          Na história Cale é espancado no primeiro volume espancado pelo protagonista, 
          então Kim Rok-Soo começa a tomar medidas para viver de forma tranquila e sem preocupações. 
          Mas nem tudo acontece como ele planeja.
        </h4>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="img\FJFfb9JVcAUGUrl_resized.jpg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-large">
      <div class="w3-container w3-light-gray w3-round-large">
        <h3><b>7 Fates: Chakho</b></h3>
        <h4>
          Na cidade corrupta Sin-si, Zeha subitamente acorda em um hospital, incapaz de se lembrar do que aconteceu 
          depois de falar com um homem misterioso à noite. Ele logo aprende que seres estranhos chamado beom estão causando 
          pânico e destruição na cidade. O destino uniu esses sete garotos, mas serão eles capazes de acabar, de uma vez por todas, 
          com essa luta? Que a caçada comece!
        </h4>
      </div>
    </div>
  </div>
  <br></br>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\Sewayaki Kitsune no Senko-san_resized.jpg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-large">
      <div class="w3-container w3-light-gray w3-round-large">
        <h3><b>Sewayaki Kitsune no Senko-san</b></h3>
        <h4>
          A vida cotidiana de Nakano, um trabalhador assalariado que trabalha para uma empresa exploradora, 
          é subitamente invadida pela Kitsune, Senko-san (800 Anos – Jovem Esposa Loli). Quer seja cozinhar, 
          limpar ou um serviço especial… ela vai curar sua exaustão com seu carinho.
        </h4>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\66,666 Years Advent of the Dark Mage_resized.webp" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-large">
      <div class="w3-container w3-light-gray w3-round-large">
        <h3><b>66,666 Years: Advent of the Dark Mage</b></h3>
        <h4>
          Diablo Volpir, um poderoso mago das trevas, foi derrotado e selado em uma batalha contra os 12 deuses. 
          Ele finalmente acorda de seu sono 66.666 anos depois, porém, no corpo de um bebê recém-nascido, 
          Jamie Welton! Nove anos depois, com uma fração do poder que já deteve e com a família amorosa e o ambiente 
          pacífico que agora o cerca, Jamie planeja se vingar dos 12 deuses que o selaram.
        </h4>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="img\Shingeki no Kyojin1_resized.png" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-large">
      <div class="w3-container w3-light-gray w3-round-large">
        <h3><b>Shingeki no Kyojin</b></h3>
        <h4>
          Há muito tempo atrás, os humanos foram quase exterminados pelos Titãs. 
          Seres humanoides gigantes que devoram as pessoas sem nenhum motivo aparente. 
          Os poucos sobreviventes fugiram, levantaram muralhas de 50 metros para se protegerem desses seres e tentarem viver em paz... 
          Porém, 100 anos depois, a humanidade começa a pagar por seus anos de paz: um titã colossal aparece, 
          destruindo a muralha e dando início a um cenário de carnificina e destruição.
        </h4>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <div class="w3-section w3-bottombar w3-padding-16"></div>
  <div class="w3-row-padding w3-padding-16" id="about">
    <h1 class="w3-cursive w3-text-white">Últimos lançamentos</h1><br></br>
    <div class="w3-col m3 w3-card-4">
      <img src="img\Demon Slayer(2).jpeg" alt="Me" style="width:100%; height:100% " class="w3-hover-opacity "></img>
      <div class="w3-container w3-center">
      <h4 ><b class="w3-text-white" style="text-shadow:2px 2px 0 #444">Demon Slayer</b></h4>
      <h5 class="w3-text-white" >
        Tanjirou é um menino de bom coração que vivia pacificamente com sua família como vendedor de carvão. 
        Sua vida normal muda completamente quando sua família é massacrada por demônios. 
        A única outra sobrevivente, a irmã mais nova de Tanjirou, Nezuko, tornou-se um demônio feroz. 
        Para fazer Nezuko voltar ao normal e se vingar do demônio que matou sua família, 
        os dois partem em uma jornada. De um jovem talento, um conto de aventura de sangue e espadas começa!
      </h5>
      </div>
      <hr></hr>
    </div>

    <div class="w3-col m3 w3-card-4">
      <img src="img\One Punch Man(2).jpeg" alt="Me" style="width:100%; height:100%" class="w3-hover-opacity "></img>
      <div class="w3-container w3-center">
      <h4><b class="w3-text-white" style="text-shadow:2px 2px 0 #444">One-Punch Man</b></h4>
      <h5 class="w3-text-white">
        A história segue o dia-a-dia de um herói normal que está infeliz por ser forte o bastante para derrotar 
        todos os seus oponentes com apenas um soco, já que isso não lhe traz mais a sensação de adrenalina ao enfrentar um 
        inimigo poderoso.
      </h5>
      </div>
      <hr></hr>
    </div>

    <div class="w3-col m3 w3-card-4">
      <img src="img\SakuraCardcaptor(2).jpeg" alt="Me" style="width:100%; height:100%" class="w3-hover-opacity "></img>
      <div class="w3-container w3-center">
      <h4><b class="w3-text-white" style="text-shadow:2px 2px 0 #444">Sakura Cardcaptor</b></h4>
      <h5 class="w3-text-white">
        Um dia, Sakura Kinomoto acidentalmente abriu um livro contendo dezenas de cartas mágicas chamado Clow Cards, 
        e eles se espalharam em torno de sua cidade natal de Tomoeda. Sakura foi escolhido para ser o mestre dessas cartas 
        e foi recrutado pelo guardião baseado no Sol, Kerberos usa sua magia para recuperar esses cartões antes de façam 
        mais algum problema na cidade. Ela é incentivada por sua melhor amiga, Tomoyo Daidouji, e ela conhece um cardcaptor rival, 
        Syaoran Li, que é um descendente direto do criador das Cartas Clow.
      </h5>
      </div>
      <hr></hr>
    </div>

    <div class="w3-col m3 w3-card-4">
      <img src="img\Nesta vida, serei a matriarca(2).jpg" alt="Me" style="width:100%; height:100%" class="w3-hover-opacity "></img>
      <div class="w3-container w3-center">
        <h4 ><b class="w3-text-white" style="text-shadow:2px 2px 0 #444">Nesta vida, serei a matriarca</b></h4>
          <h5 class="w3-text-white">
            Firentia reencarnou como a filha ilegítima da família mais rica do império. Ela pensou que tudo iria correr bem no futuro.
            Mas seu pai faleceu, seus parentes a deixaram sozinha e a honorável família que ela tinha tanto orgulho foi arruinada… <br>
            Mas isso é real (?) <br>
            Ela bebeu um pouco (muito) e foi atingida por uma carruagem,
            Quando ela abriu seus olhos novamente, ela tinha sete anos de novo?
            Além disso, o segundo príncipe, que era o inimigo de sua família na sua vida anterior, está a seguindo que nem um cachorrinho! <br>
            to be continued...
          </h5>
      </div>
      <hr></hr>
    </div>

    </div>
  </div>

    <div class="w3-section w3-bottombar w3-padding-16"></div>
    <h3 class="w3-cursive ">Principais Generos</h3>
    <!-- Progress bars / Skills -->
    <p>Romance</p>
    <div class="w3-pale-yellow w3-round-xlarge">
      <div class="w3-container w3-indigo w3-padding w3-center " style="width:95%">95%</div>
    </div>
    <p>Drama</p>
    <div class="w3-pale-yellow w3-round-xlarge">
      <div class="w3-container w3-indigo w3-padding w3-center" style="width:65%">65%</div>
    </div>
    <p>Terror</p>
    <div class="w3-pale-yellow w3-round-xlarge">
      <div class="w3-container w3-indigo w3-padding w3-center" style="width:40%">40%</div>
    </div>
    <p>
      <button class="w3-button w3-indigo w3-padding-large w3-margin-top w3-margin-bottom w3-round-xxlarge">
        <i class="fa fa-download w3-margin-right"></i>Baixe um resumo
      </button>
    </p>
    <hr>
  
</body>
<%- include('partials/footer.ejs') %>
</html>