<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head.ejs') %>
<%- include('../partials/menu2.ejs') %>

<body>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">Novo Gênero</div>
        <div class="card-body">
            <form method="POST" action="/generos/">
                <div class="form-floating mb-3">
                    <input type="text" name="genero" class="form-control" id="genero" placeholder="Gênero" required>
                    <label for="genero">Gênero</label>
                </div>
                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/generos" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<%- include('../partials/footer.ejs') %>
</html>